In [ ]:
import pandas as pd

# Ruta del archivo CSV en Google Colab
ruta_archivo = '/content/Base_Fraude.csv'

# Cargar la base de datos desde el archivo CSV con motor 'python'
try:
    base_de_datos = pd.read_csv(ruta_archivo, delimiter=';', engine='python')
    # Muestra las primeras filas de la base de datos para verificar la carga
    print(base_de_datos.head())
except pd.errors.ParserError as e:
    print(f"Error al cargar el archivo CSV: {e}")

   Evento_Id Fecha_Evento  Ambito_Id Descripcion_Ambito Numero_Poliza  \
0        251   2028-08-19        3.0           URGENCIA           NaN
1        251   2028-08-19        3.0           URGENCIA           NaN
2        251   2028-08-19        3.0           URGENCIA           NaN
3        251   2028-08-19        3.0           URGENCIA           NaN
4        251   2028-08-19        3.0           URGENCIA           NaN

  Vencimiento_Poliza  Atencion_Prestada_Id Descripcion_Atencion_Prestada  \
0                NaN                   1.0                       NINGUNO
1                NaN                   1.0                       NINGUNO
2                NaN                   1.0                       NINGUNO
3                NaN                   1.0                       NINGUNO
4                NaN                   1.0                       NINGUNO

   Salida_Id Salida_Descripcion  ...        Ciudad Marca_Vehiculo  \
0        1.0               Alta  ...  BARRANQUILLA        reanaul
1        1.0               Alta  ...  BARRANQUILLA        reanaul
2        1.0               Alta  ...  BARRANQUILLA        reanaul
3        2.0           Traslado  ...  BARRANQUILLA        reanaul
4        2.0           Traslado  ...  BARRANQUILLA        reanaul

  Estado_Vehiculo_Descripcion  Tipo_Vehiculo_Id Tipo_Vehiculo_Descripcion  \
0                   Asegurado               1.0                Particular
1                   Asegurado               1.0                Particular
2                   Asegurado               1.0                Particular
3                   Asegurado               1.0                Particular
4                   Asegurado               1.0                Particular

  Tipo_Vehiculo Condicion_Accidentado_Id  Condicion_Accidentado_Descripcion  \
0     Automovil                      1.0                           Ocupante
1     Automovil                      1.0                           Ocupante
2     Automovil                      1.0                           Ocupante
3     Automovil                      1.0                           Ocupante
4     Automovil                      1.0                           Ocupante

                     Categoria_Descripcion_Eje10 Fraude
0  ACCIDENTE DE TIPO DE VEHICULO NO ESPECIFICADO     NO
1           TRAUMATISMO SUPERFICIAL DE LA PIERNA     NO
2                                         COLERA     NO
3  ACCIDENTE DE TIPO DE VEHICULO NO ESPECIFICADO     NO
4           TRAUMATISMO SUPERFICIAL DE LA PIERNA     NO

[5 rows x 24 columns]

In [ ]:
# Contar valores nulos en cada columna
valores_nulos_por_columna = base_de_datos.isnull().sum()

# Mostrar el resultado
print("Valores nulos por columna:")
print(valores_nulos_por_columna)

Valores nulos por columna:
Evento_Id                                0
Fecha_Evento                             0
Ambito_Id                               10
Descripcion_Ambito                   22524
Numero_Poliza                        14136
Vencimiento_Poliza                   14177
Atencion_Prestada_Id                 15690
Descripcion_Atencion_Prestada        15690
Salida_Id                            26677
Salida_Descripcion                   26677
Area_Rural_Id                        16424
Descripcion_Area_Rural               16424
Furips_Descripcion                   16443
Ciudad_Id                            16424
Ciudad                               16424
Marca_Vehiculo                       16848
Estado_Vehiculo_Descripcion          16424
Tipo_Vehiculo_Id                     16836
Tipo_Vehiculo_Descripcion            16829
Tipo_Vehiculo                            0
Condicion_Accidentado_Id             16424
Condicion_Accidentado_Descripcion    16424
Categoria_Descripcion_Eje10            181
Fraude                                   0
dtype: int64

In [ ]:
# Eliminar filas con valores nulos
base_de_datos_sin_nulos = base_de_datos.dropna()

# Mostrar la cantidad de filas después de eliminar los valores nulos
print("Número de filas después de eliminar los valores nulos:", len(base_de_datos_sin_nulos))

Número de filas después de eliminar los valores nulos: 115

In [ ]:
# Selección de columnas con menos valores nulos solapados
columnas_deseadas = [ 'Descripcion_Area_Rural', 'Furips_Descripcion', 'Ciudad', 'Marca_Vehiculo', 'Estado_Vehiculo_Descripcion',
                      'Tipo_Vehiculo_Descripcion', 'Tipo_Vehiculo', 'Condicion_Accidentado_Descripcion',
                      'Categoria_Descripcion_Eje10', 'Fraude']

nuevo_dataset = base_de_datos[columnas_deseadas].copy()

In [ ]:
# Eliminar filas con valores nulos
base_de_datos_1 = nuevo_dataset.dropna()

# Mostrar la cantidad de filas después de eliminar los valores nulos
print("Número de filas después de eliminar los valores nulos:", len(base_de_datos_1))

Número de filas después de eliminar los valores nulos: 15773

In [ ]:
# Mostrar el tipo de variable de cada columna en el nuevo dataset
tipos_de_variable = base_de_datos_1.dtypes

# Mostrar el resultado
print("Tipo de variable de cada columna en el nuevo dataset:")
print(tipos_de_variable)

Tipo de variable de cada columna en el nuevo dataset:
Descripcion_Area_Rural               object
Furips_Descripcion                   object
Ciudad                               object
Marca_Vehiculo                       object
Estado_Vehiculo_Descripcion          object
Tipo_Vehiculo_Descripcion            object
Tipo_Vehiculo                        object
Condicion_Accidentado_Descripcion    object
Categoria_Descripcion_Eje10          object
Fraude                               object
dtype: object

In [ ]:
# Mostrar filas seleccionadad  de la columna 'Categoria_Descripcion_Eje10'
primeras_tres_filas = base_de_datos_1.loc[1500:1501,'Furips_Descripcion']
print(primeras_tres_filas)

Series([], Name: Furips_Descripcion, dtype: object)

In [ ]:
# Verificación de desequilibrio entre clases
# Convertir la columna "Fraude" a minúsculas y quitar espacios en blanco adicionales
base_de_datos_1['Fraude'] = base_de_datos_1['Fraude'].str.lower().str.strip()

# Contar las filas con el valor "si" en la columna "Fraude"
filas_con_fraude_si = base_de_datos_1[base_de_datos_1['Fraude'] == 'si'].shape[0]

# Contar las filas con el valor "no" en la columna "Fraude"
filas_con_fraude_no = base_de_datos_1[base_de_datos_1['Fraude'] == 'no'].shape[0]

# Mostrar los resultados
print(f"Filas con 'si' en la variable 'Fraude': {filas_con_fraude_si}")
print(f"Filas con 'no' en la variable 'Fraude': {filas_con_fraude_no}")

Filas con 'si' en la variable 'Fraude': 2100
Filas con 'no' en la variable 'Fraude': 13673

<ipython-input-8-b127987dd05d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_de_datos_1['Fraude'] = base_de_datos_1['Fraude'].str.lower().str.strip()